<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mini_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>New_user</display-name>
    <servlet-name>New_user</servlet-name>
    <servlet-class>miniproj_package.New_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_user</servlet-name>
    <url-pattern>/New_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>miniproj_package.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewcar</display-name>
    <servlet-name>Viewcar</servlet-name>
    <servlet-class>miniproj_package.Viewcar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewcar</servlet-name>
    <url-pattern>/Viewcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletecar</display-name>
    <servlet-name>Deletecar</servlet-name>
    <servlet-class>miniproj_package.Deletecar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletecar</servlet-name>
    <url-pattern>/Deletecar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New_borrower</display-name>
    <servlet-name>New_borrower</servlet-name>
    <servlet-class>miniproj_package.New_borrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_borrower</servlet-name>
    <url-pattern>/New_borrower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginborrower</display-name>
    <servlet-name>Loginborrower</servlet-name>
    <servlet-class>miniproj_package.Loginborrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginborrower</servlet-name>
    <url-pattern>/Loginborrower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hourscost</display-name>
    <servlet-name>Hourscost</servlet-name>
    <servlet-class>miniproj_package.Hourscost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hourscost</servlet-name>
    <url-pattern>/Hourscost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getcar</display-name>
    <servlet-name>Getcar</servlet-name>
    <servlet-class>miniproj_package.Getcar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getcar</servlet-name>
    <url-pattern>/Getcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addnewcar</display-name>
    <servlet-name>Addnewcar</servlet-name>
    <servlet-class>miniproj_package.Addnewcar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addnewcar</servlet-name>
    <url-pattern>/Addnewcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addcars</display-name>
    <servlet-name>Addcars</servlet-name>
    <servlet-class>miniproj_package.Addcars</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addcars</servlet-name>
    <url-pattern>/Addcars</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrowlist</display-name>
    <servlet-name>Borrowlist</servlet-name>
    <servlet-class>miniproj_package.Borrowlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrowlist</servlet-name>
    <url-pattern>/Borrowlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New_admin</display-name>
    <servlet-name>New_admin</servlet-name>
    <servlet-class>miniproj_package.New_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_admin</servlet-name>
    <url-pattern>/New_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminrequest</display-name>
    <servlet-name>Adminrequest</servlet-name>
    <servlet-class>miniproj_package.Adminrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminrequest</servlet-name>
    <url-pattern>/Adminrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>miniproj_package.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
</web-app>